
.topSection {
	margin-bottom: 2rem;
}

.inputLabel {
	display: block;
	font-weight: 700;
	opacity: 0.8;
    color: var(--text-decoration-color);
}

.buttonGroup {
	display: flex;
	justify-content: flex-start;
	gap: 0.5rem;
}

