@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?agb21k');
  src:  url('fonts/icomoon.eot?agb21k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?agb21k') format('truetype'),
    url('fonts/icomoon.woff?agb21k') format('woff'),
    url('fonts/icomoon.svg?agb21k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loop:before {
  content: "\e908";
}
.icon-bookmark:before {
  content: "\e900";
}
.icon-check-circle:before {
  content: "\e901";
}
.icon-edit-2:before {
  content: "\e902";
}
.icon-file-plus:before {
  content: "\e906";
}
.icon-file-text:before {
  content: "\e907";
}
.icon-rotate-ccw:before {
  content: "\e904";
}
.icon-settings:before {
  content: "\e903";
}
.icon-trash-2:before {
  content: "\e905";
}
.icon-upload-cloud:before {
  content: "\e909";
}
