.buttonOuter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--foreground);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.buttonOuter[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.buttonOuter span {
    vertical-align: baseline;
}

.buttonOuter:hover {
    background-color: var(--element-hover);
}

.buttonOuter:active {
    background-color: var(--element-active);
}

.buttonOuter__withBorder {
    background-color: var(--element);
    border: 2px solid var(--border);
}