.outer {
  /* flex justify-between items-center mb-2 p-2 bg-white/5 rounded */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.375rem;
  cursor: pointer;
  overflow: hidden;
}

.inner {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  margin-right: 48px;
  transition: background-color 0.2s ease;
}

.buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.inner:hover,
.buttons:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.thumb {
  width: 30%;
  height: 60px;
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem;
  border: solid 2px var(--border);
}

.info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1rem;
}

.name {
  /* text-sm font-bold */
  font-size: small;
  font-weight: bold;
}

.time {
  font-style: italic;
  font-size: small;
  color: var(--foreground);
  opacity: 0.5;
  margin-top: 0.25rem;
}

.empty {
  opacity: 0.5;
}