.outer {
    /* flex justify-between items-center mb-2 p-2 bg-white/5 rounded */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.thumb {
    width: 30%;
    height: 60px;
    background-size: cover;
    background-position: center;
    border-radius: 0.25rem;
    border: solid 2px var(--border);
}

.info {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
}

.name {
    /* text-sm font-bold */
    font-size: small;
    font-weight: bold;
}

.time {
    font-style: italic;
    font-size: small;
    color: var(--foreground);
    opacity: 0.5;
    margin-top: 0.25rem;
}

.buttons {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    display: none;
}

.outer:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.outer:hover .buttons {
    display: block;
}
